<p id="notice"><%= notice %></p>

<h1 class='RecipesTop'>Recipes</h1>
<link rel="stylesheet" href="../../stylesheets/recipes.scss">

<table>
  <!-- <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Glass</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <% @recipes.each do |recipe| %>
    <article>
      <h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
      <time>Updated <%= recipe.updated_at %></time>
      <p><%= recipe.body %></p>
      <p>Served in: <%= recipe.glass %></p>
  --------------------------------------------------------------------
    </article>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
